{% extends 'base.html' %}
{% block body %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="{% static '/other.js' %}"></script>
<div id="profile">
    <img src="{{user.image.url}}" id="profile_image">
    <h3>{{user.username}}</h3> 
    <p>description :<br>{{user.bio}}</p>
    {% if var == "cancel request" %}
    <a href="/cancel/{{user.id}}"><button class="btn btn-primary" >{{var}}</button></a>
    {% elif var == "accept request" %}
    <a href="/accept/{{user.id}}"><button class="btn btn-primary" >{{var}}</button></a>
    {% else %}
    <a href="/add/{{user.id}}"><button class="btn btn-primary" >{{var}}</button></a>
    {% endif %}
    
    <button class="btn btn-info" id="friends-list" data-id="{{user.id}}">friends</button>
    <div id="friends">

    </div>
    
</div>
<div id="posts">
    
</div>
{% endblock %}